$main-font: 'HelveticaNeue', Helvetica, Arial, sans-serif;
$second-font: "Raleway - Semi Bold", sans-serif;


$primary-color: #ffffff;
$main-text: #000000;
$second-color: #848484;
$notify-text: #222222;
$about-text: #2e2e2e;
$shadow-color: #ffffff;
$highlight-color: #2ecc71;
$main-background: #c2c7cc;
$second-background: #e3e3e3;
$background-item: #c5c5c5;






